body {
  padding-top: 50px;
  background-color:#121212;
}

.starter-template {
  padding: 40px 15px;
  font-size: 10px;
}

h1 {
  font-size:5em;
}

p {
  font-size:3em;
}

td{
  width:50%;
  height:auto;
}

.mangaName{
  color:White;
  font-size:2em;
  font-weight:bold;
  font-family:sans-serif;
  text-align:left;
  max-height:2em;
  min-height:2em;
  overflow:auto;
}

.mangaCover{
  width:100%;
  height:auto;
  border-radius:10px;
  min-height:45em;
  max-height:45em;
}

.wrapper h2{
  margin: 0;
  line-height: 1;
  font-size:5em;
  color: transparent;
  text-transform: uppercase;
  background-image: linear-gradient(to left, #2ecc71, #3498db, #9b59b6, #E4A82F, #10C3B2);
  -webkit-background-clip: text;
  animation: animate 5s linear infinite;
  -webkit-background-size: 500%;
  background-size: 500%;
  text-align: center;
}
 @keyframes animate{
   0%{
	 background-position: 0 100%;
   }
   25%{
	 background-position: 50% 0;
   }
   50%{
	 background-position: 100% 0;
   }
   75%{
	 background-position: 0 50%;
   }
   100%{
	 background-position: 0 100%;
   }
 }
